.bg-container{
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/codingbg.png');
    width: 500px;
    height: 600px;
    margin: auto;
    color: aliceblue;
    font-family: Bree Serif;
    
}


