.top-container{
    width: 420px;
    height: 200px;
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/podcasts-bg.png");
    background-size: cover;
}

.head1{
color: white;
font-size: 30px;
padding: 30px;
}

.bottom-conatiner{
    height: 450px;
    width: 420px;
    background-color: white;
}

.main-box{
    width: 180px;
    height: 150px;
    margin-top: 40px;
    margin-left: 20px;
}

.img-box{
    width: 170px;
    height: 120px;
}

.head2{
color: #151765;
font-size: 20px;
text-align: center;
font-weight: bold;
}

.para{
color: #5a7184;
font-size: 18px;
text-align: center;
}

.top-PodcastDetailed{
    width: 400px;
    height: 180px;
    background-color: #151765;
    margin-top: -30px;
}

.bottom-PodcastDetailed{
    width: 400px;
    height: 620px;
}

.img-PodcastDetailed{
    width: 150px;
    height: 120px;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 20px;
    float: left;
    margin-right: 15px;
}

.top-PJ-header{
    font-size: 22px;
    color: white;
    margin-top: -10px;
}

.top-PJ-para1{
    font-size: 15px;
    color: white;
    margin-top: 30px;
    padding-top: 30px;
    margin-right: -20px;
}

.top-PJ-para2{
    font-size: 15px;
    color: white;
}

.bottom-box{
    width: 400px;
    height: 150px;

}

.bottom-PJ-header{
    font-size: 18px;
    color: #151765;
    padding-top: 35px;
    font-weight: bold;
}

.bottom-PJ-para1{
    font-size: 15px;
    color: #5a7184;
    margin-right: -20px;
    padding: auto;
    padding-right: 30px;
    padding-bottom: -20px;
}

.bottom-PJ-para2{
    font-size: 12px;
    color: #151765;
    padding-top: -30px;
}

.button1{
    height: 30px;
    width: 70px;
    float: right;
    border-width: 0px;
    background-color: #151765;
    color: white;
    border-radius: 10px;
}