.bg-container{
    background-color: #875fc0;
    width: 450px;
    height: 750px;
}

.top-container{
    background-color: white;
    width: 400px;
    height: 290px;
    margin: auto;
    border-radius: 8px;
    margin-top: -10px;
}

.img{
    height: 150px;
    width: 310px;
    margin-left: 45px;
}
.h1{
    color: white;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    padding-right: 25px;
    padding-top: 30px;

}

.h2{
    color: #1f2933;
    text-align: center;
    font-size: 22px;
    padding-top: 20px;
}

.para{
    color: #323f4b;
    font-size: 18px;
    text-align: center;
    margin-top: -5px;
    padding-left: 20px;
    padding-right: 20px;
}

.bottom-container{
    height: 300px;
    width: 360px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

.box{
    height: 50px;
    width: 320px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    margin-left: 20px;
}

.h3{
    font-size: 18px;
    padding-left: 10px;
    color: #323f4b;
    padding-top: -40px;
}
.h3-bg{
    background-color: #875fc0;
}
.h3-font-color{
    color: white;
}

.button{
    height: 40px;
    width: 100px;
    border-radius: 8px;
    border: 0px;
    background-color: #fbaf00;
    color: white;
    margin-left: 120px;
}